.smolSwatches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    grid-gap: 8px;
}

.smolSwatch {
    /* z-index: 1; */
    width: 24px;
    height: 24px;
    border-radius: 6px;

    border: 1px solid var(--light-gray);

    position: relative;
}

.smolSwatch:hover > .swatchLabel {
    opacity: 1;
}

.swatchLabel, .bigSwatchLabel {
    z-index: 2;

    background-color: var(--labelBackground);
    border-radius: 6px;
    padding: 4px;

    width: min-Content;

    text-align: center;

    margin-left: 50%;

    pointer-events: none;

    transition: opacity 100ms;
}

.swatchLabel {
    box-shadow: var(--shadow4px);
    position: absolute;
    transform: translate(-50%, -100%);
    opacity: 0;
}

.bigSwatchLabel {
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.bigSwatches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-gap: 8px;

    width: 100%;
    height: calc(24px * 3 + 16px);

    margin-bottom: 8px;
}

.swatch {
    width: calc(24px * 3 + 16px);
    height: 100%;

    border-radius: 6px;
}

.swatches {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
