.dropdown {
    width: max-content;
}

.dropdownValue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    grid-gap: 10px;

    border-radius: 6px;
    padding: 6px 8px;
    padding-left: 12px;
}

.dropdownValue span {
    cursor: pointer;
}

.dropdownValues {
    position: absolute;
    /* margin-top: 40px; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 6px 0;

    border-radius: 6px;

    background-color: var(--white);
    box-shadow: var(--shadow4px);
}

.dropdownValues span {
    padding: 6px 10px;
    cursor: pointer;
    -webkit-user-select: none;
}

.dropdownValues .active {
    background-color: var(--light-gray);
}
