.switchThumb {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-top: -5px;
    margin-left: -4px;
    transition: transform 300ms, background 300ms;
    padding: 2px;
}

.switch {
    width: 42px;
    height: 18px;
    border-radius: 14px;
    background-color: var(--light-gray);
}

.checkBox {
    display: none;
}
