:root {
    --text-dark: #2E2E2E;
    --text-white: #FFFFFF;
    --light-gray: #E9E9E9;
    --accent: #00BCD4;
    --gray: #BBBBBB;
    --shadow: rgba(97, 97, 97, 0.18);

    /* Das bleibt weiß */
    --white: #FFFFFF;

    /* Schatten */
    --shadow4px: 0 2px 4px var(--shadow), 0 4px 8px var(--shadow);
    --shadow2px: 0 1px 2px var(--shadow), 0 2px 4px var(--shadow);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    color: var(--text-dark);
}

a {
    text-decoration: none;
    color: inherit;
}
